html,
body {
  width: 100%;
  background: #222;
  color: white;
}

.game {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.hero {
  background: #111;
  padding: 20px;
  margin-bottom: 35px;
  line-height: 28px;
}

.hero-content {
  width: 600px;
  margin: 0 auto;
}
.hero-content h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.hero-content p {
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  padding: 0 0 20px;
  margin: 0;
}

.highlight {
  color: rgb(172, 241, 69);
}

.fail {
  color: rgb(241, 135, 135);
}

.row {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.tile {
  font-size: 50px;
  width: 120px;
  height: 120px;
  font-weight: bold;
  background: white;
  align-content: center;
  justify-items: center;
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
}

.correct {
  background: rgb(172, 241, 69);
}

.wrong {
  background: rgb(241, 135, 135);
}

.contains {
  background: rgb(248, 211, 141);
}
